<div id='container'>
Loading...
	<canvas height='640' id='markers' width='640'></canvas>
	<canvas height='640' id='wall_shadows' width='640'></canvas>
	<canvas height='640' id='object_shadows' width='640'></canvas>
	<canvas height='640' id='shadow_map' width='640'></canvas>
	<canvas height='640' id='player' width='640'></canvas>
	<canvas height='640' id='viewfield' width='640'></canvas>
	<canvas height='640' id='darkness' width='640'></canvas>
	<canvas height='640' id='shadow_overlay' width='640'></canvas>
</div>
