<div id='container'>
Loading...
	<canvas height='600' width='600' id='markers'></canvas>
	<canvas height='600' width='600' id='wall_shadows'></canvas>
	<canvas height='600' width='600' id='object_shadows'></canvas>
	<canvas height='600' width='600' id='shadow_map'></canvas>
	<canvas height='600' width='600' id='player'></canvas>
	<canvas height='300' width='300' id='viewfield'></canvas>
	<canvas height='600' width='600' id='darkness'></canvas>
	<canvas height='600' width='600' id='shadow_overlay'></canvas>
</div>