<div id='container'>
Loading...
	<canvas height='300' id='markers' width='300'></canvas>
	<canvas height='300' id='wall_shadows' width='300'></canvas>
	<canvas height='300' id='object_shadows' width='300'></canvas>
	<canvas height='300' id='shadow_map' width='300'></canvas>
	<canvas height='300' id='player' width='300'></canvas>
	<canvas height='300' id='viewfield' width='300'></canvas>
	<canvas height='300' id='darkness' width='300'></canvas>
	<canvas height='300' id='shadow_overlay' width='300'></canvas>
</div>
