<div id='container'>
Loading...
	<canvas height='600' id='markers' width='600'></canvas>
	<canvas height='600' id='wall_shadows' width='600'></canvas>
	<canvas height='600' id='object_shadows' width='600'></canvas>
	<canvas height='600' id='shadow_map' width='600'></canvas>
	<canvas height='600' id='player' width='600'></canvas>
	<canvas height='300' id='viewfield' width='300'></canvas>
	<canvas height='600' id='darkness' width='600'></canvas>
	<canvas height='600' id='shadow_overlay' width='600'></canvas>
</div>
