<div id='container'>
Loading...
	<canvas height='608' id='markers' width='600'></canvas>
	<canvas height='608' id='wall_shadows' width='600'></canvas>
	<canvas height='608' id='object_shadows' width='600'></canvas>
	<canvas height='608' id='shadow_map' width='600'></canvas>
	<canvas height='608' id='player' width='600'></canvas>
	<canvas height='600' id='viewfield' width='600'></canvas>
	<canvas height='608' id='darkness' width='600'></canvas>
	<canvas height='608' id='shadow_overlay' width='600'></canvas>
</div>
