body
  background-color: #333
  color:  #FFF
  margin: 0
  padding: 0
  text-align: center
  
#viewfield, #shadow_overlay, #shadow_map, #wall_shadows, #object_shadows, #markers, #darkness, #player
  position: absolute
  top: 0px
  left: 0px
  
#markers
  background: url('textures/floor.png')

#wall_shadows
  left: 0px
  
#object_shadows
  left: 0px
 
#container
  display: block
  position: relative
  width: 100%
  overflow: hidden
  max-width: 600px
  height: 600px
  margin:  0 auto
  border: 1px solid #222
  
canvas 
  width: 100%
  height: auto