<!DOCTYPE html>
<html>
<head>
  <title>Hinder</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- /%meta{:name=>"viewport",:content=>"width=600, initial-scale=1, user-scalable=no"} -->
  <meta content='width=800, initial-scale=1.5, user-scalable=no' name='viewport' />
  <!-- <meta content='width=device-width, initial-scale=1, user-scalable=no' name='viewport' /> -->

</head>
<body>

<%= yield %>

</body>
</html>
