<!DOCTYPE html>
<html>
<head>
  <title>Hinder</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- /%meta{:name=>"viewport",:content=>"width=600, initial-scale=1, user-scalable=no"} -->
  <!-- <meta content='width=device-width, initial-scale=1, user-scalable=no' name='viewport' /> -->

  <meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1; user-scalable=0;" />
  
  <!-- This meta tag ensures that the toolbar at the bottom of the browser 
    is hidden when this page is accessed frome the Home Screen. -->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29142841-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>

<%= yield %>

</body>
</html>
